@use 'mixins' as *;
body{
    margin: 0;
    background-image: url("assets/RainTile.jpg");
    background-color: #ffffff;
    background-repeat: repeat-x;
}
.background-gradient{
    position: absolute;
    background-image: linear-gradient(#ffffff00, #ffffff);
    background-repeat: no-repeat;
    height: 66vh;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}
.center{
    display: flex;
    justify-content: center;
}
.content{
    margin: 0em 16rem;
    padding: 4rem 12rem 8rem;
    background-color: #ffffff;
}
.fish-spin{
    .sacabampis{
        width: 50%;
        margin: 2em;
    }
}

.button{
    @include button;
    margin: 2em 2em 2em;
}
header{
    background-color: var(--main-blue);
    margin: 0em;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    .sacamLogo{
        width: 6em;
    }
}
footer{
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-between;
    padding: 2em 30rem;
    .link{
        width: 2em;
    }
}