@media screen and (max-width: 1250px){
    .content{
        margin: 0em 8rem;
        padding: 4rem 6rem 8rem;
    }
    footer{
        padding: 2em 14rem;
    }
}
@media screen and (max-height: 896px){
    .background-gradient{
        height: 67vh;
    }
}

@media screen and (max-width: 700px){
    .content{
        margin: 0em 2rem;
        padding: 4rem 4rem 8rem;
    }
    footer{
        padding: 2em 6rem;
    }
    h1{
        font-size: 3em;
    }
    .subtitle{
        font-size: 1em;
    }
    h2{
        font-size: 1.5em;
    }
}