@mixin button{
    background-color: var(--main-blue);
    color: #ffffff;
    padding: 0.75em 1.5em;
    border-radius: 100px;
    transition: all 150ms;
    text-decoration: none;
    font-size: 0.8rem;
    &:hover{
        background-color: var(--para-blue);
        cursor: pointer;
    }
}